.post {
  margin-bottom: 2rem;
}

.main-content .post__link {
  color: #2e5e6b;
  text-decoration: none;
}

.main-content .post__link:hover {
  color: #183138;
}

.post__link h2 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.post-metadata {
  font-size: 0.9rem;
}

.post-metadata__author {
  color: #333;
  font-weight: bold;
  transition: color 250ms ease-out;
}

.post-metadata__author:hover {
  color: #000;
}

