blockquote {
  font-style: italic;
  margin: 1rem 2rem;
  position: relative;
}

blockquote:before {
  color: #ddd;
  content: '\201C';
  display: block;
  font-size: 4rem;
  left: -2.7rem;
  position: absolute;
  top: -1rem;
}

.post-metadata {
  margin-bottom: 1rem;
}

.post-metadata__author {
  color: #333;
  font-weight: bold;
  transition: color 250ms ease-out;
}

.post-metadata__author:hover {
  color: #000;
}

.share {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0 0.6rem 0;
  padding: 0;
}

.share ~ .share {
  margin-bottom: 0;
}

.share__prompt {
  color: #888;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.share__item + .share__item {
  margin-left: 0.25rem;
}

.share__link {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.share__link--facebook {
  background: rgb(59, 89, 152);
}

.share__link--twitter {
  background: rgb(29, 161, 242);
}

.share__link i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.buy-book {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
  padding-top: 2rem;
}

.buy-book__action {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-book__action img {
  width: 9.375rem;
}

.buy-book__action a {
  background: #8c4d01;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transform: scale3d(1, 1, 1);
  transition: transform 250ms ease-out;
  width: calc(100% - 9.375rem - 2rem);
}

.buy-book__action a:hover {
  background: #2e5e6b;
  transform: scale3d(1.1, 1.1, 1.1);
}

.buy-book__description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.buy-book__description h4 {
  font-size: 1.4rem;
}

.buy-book__description p {
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  .buy-book {
    flex-direction: row;
  }

  .buy-book__action {
    display: block;
    width: 25%;
  }

  .buy-book__action img {
    width: 100%;
  }

  .buy-book__action a {
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
  }

  .buy-book__description {
    margin-left: 2rem;
    width: 75%;
  }
}
